{% macro template(user, verification) %}
{% set url = url_for('pyduck.auth.forgot_password_verification', username=user.username, vcode=verification.vcode, _external=True) %}
<html>

<head></head>

<body>
    <div
         style="width:350px; border: 1px solid black; padding-top: 30px; padding-bottom: 30px; padding-left: 10px; padding-right: 10px; border-radius: 10px;">
        <div style="text-align:center; font-size: 1.2rem;">
            pyduck
        </div>
        <div style="text-align:center; font-size: 1.2rem; padding-top: 10px; padding-bottom: 15px;">
            비밀번호 초기화 및 재설정 메일
        </div>
        <hr>
        <div style="padding-top: 10px;">
            <p>
                [{{ user.nickname }}]님
                <br>아래 🔗인증링크를 클릭해서
                <br>비밀번호를 재설정 해주세요.
            </p>
            <div style="text-align:center; padding-top: 15px; padding-bottom: 15px;">
                <div style="font-weight: bold;">
                    <a
                       href="{{ url }}">{{ url }}</a>
                </div>
            </div>
            <p>
                해당 링크는 보안상의 이유로 10분 동안만 유효합니다.
                <br>더 나은 서비스로 찾아뵙겠습니다.
            </p>
            <div style="text-align:right; padding-top: 10px;">
                pyduck 개발자 로디 드림.
            </div>
        </div>
    </div>
</body>

</html>

{% endmacro %}