<section class="container my-5 py-5">
    <div class="display-5 text-center pyduck-hero">
        Computer Science
        <br>10000 hours
        <div class="fs-3">now 2 hours :)</div>
    </div>
    <div class="pt-5 mx-auto text-center" style="max-width: 55ch;">
        하루아침에 되는 건 많이 없습니다. Computer Science 공부한 것을 체계적으로 정리 해보고자 시작한 사이트입니다.
    </div>
</section>