{% macro render_reaction(question) %}
{% set reaction_master = [
{
"code": "thumbs_up",
"emoji": "👍",
"name": "굿이요",
"description": "",
},
{
"code": "thumbs_down",
"emoji": "👎",
"name": "댐이요",
"description": "",
},
{
"code": "heart",
"emoji": "❤️",
"name": "좋아요",
"description": "",
},
{
"code": "tada",
"emoji": "🎉",
"name": "축하요",
"description": "",
},
{
"code": "smile",
"emoji": "😄",
"name": "헤헤요",
"description": "",
},
{
"code": "sweat",
"emoji": "😅",
"name": "당황요",
"description": "",
},
{
"code": "eyes",
"emoji": "👀",
"name": "궁금요",
"description": "",
},
] %}
<div class="d-flex align-items-center gap-2" hx-target="this">
    <form x-data="{ action: '' }"
          hx-post="{{ url_for('pyduck.community.question_reaction', question_id=question.id) }}"
          hx-swap="outerHTML">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="action" x-model="action">
        <div class="dropup">
            <button type="button"
                    class="btn btn-sm btn-outline-secondary dropdown-toggle rounded-pill"
                    data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0,5">
                <i class="bi bi-emoji-smile"></i>
            </button>
            <div class="dropdown-menu p-0">
                <div class="btn-group" role="group" aira-label="reaction emoji selector">
                    {% for rm in reaction_master %}
                    {% set r = question.reactions|selectattr("code", "eq", rm.code)|list %}
                    {% set reacted = r|selectattr('user_id', 'eq', current_user.id)|list %}
                    <button
                            class="btn btn-sm btn-outline-secondary border-0 rounded-1 m-1 {{ 'active' if reacted }}"
                            @click="action='{{ ('unreact ' if reacted else 'react ') + rm.code }}'">
                        <div>{{ rm.emoji }}</div>
                    </button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>
    <form x-data="{ action: '' }"
          hx-post="{{ url_for('pyduck.community.question_reaction', question_id=question.id )}}"
          hx-swap="outerHTML">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="action" x-model="action">
        {% for rm in reaction_master %}
        {% set r = question.reactions|selectattr("code", "eq", rm.code)|list %}
        {% set reacted = r|selectattr('user_id', 'eq', current_user.id)|list %}
        {% if r %}
        <button
                class="btn btn-sm btn-outline-secondary rounded-pill {{ 'active' if reacted }}"
                @click="action='{{ ('unreact ' if reacted else 'react ') + rm.code }}'">
            <span>{{ rm.emoji }}</span>
            <span>{{ r|length }}</span>
        </button>
        {% endif %}
        {% endfor %}
    </form>
</div>
{% endmacro %}