# [START] csduck customized
**/*.db
*.db
docker
# csduck customized [END]


# stolen from netflix/dispatch
__pycache__
.git
.dockerignore
.gitignore

.cache/
.coverage
.storybook-out/
.DS_Store
.venv
*.egg-info
*.pyc
*.log
*.egg
*.db
*.pid
MANIFEST
test.conf
pip-log.txt
package.json
/.artifacts
/coverage/
/cover
/build
/env
/tmp
node_modules
/wheelhouse
/test_cli/
.idea/
*.iml
.pytest_cache/
.vscode/tags
coverage.xml
junit.xml
*.codestyle.xml
package-lock.json


# stolen from apache/superset
**/__pycache__/
**/.git
**/.apache_superset.egg-info
**/.github
**/.mypy_cache
**/.pytest_cache
**/.tox
**/.vscode
**/.idea
**/.coverage
**/.DS_Store
**/.eggs
**/.python-version
**/*.egg-info
**/*.bak
**/*.db
**/*.pyc
**/*.sqllite
**/*.swp
**/.terser-plugin-cache/
**/.storybook/
**/node_modules/

tests/
docs/
install/
superset-frontend/cypress-base/
superset-frontend/coverage/
superset/static/assets/
superset-websocket/dist/
venv
