requests
bs4

sqlalchemy
alembic

pydantic

pandas
numpy

flask

gunicorn
gevent

redis[hiredis]

# flask extensions
Flask-sqlalchemy
Flask-Migrate
Flask-WTF
    email-validator
flask-login
flask-bcrypt


python-multipart
python-dotenv

# pandas for read_excel
openpyxl