{% extends "index.html.jinja" %}

{% block css %}
{% endblock css %}


{% block main %}
<div class="container mt-3 pt-5">
    <div>
        <span class="display-5 pyduck-title__duckwave_os">Operating Systems</span>
    </div>
    {% include "os/shapes.svg" %}
</div>
{% endblock main %}


{% block javascript %}
<script>
    const a = document.querySelector("[data-duckwave-os-id='1']");
    a.addEventListener("click", (e) => { alert("choco") });
</script>
{% endblock javascript %}