{% extends "pyduck/base.html.jinja" %}

{% block main %}
<div class="container">
    <section class="py-5">
        <div class="text-center">
            <span class="display-4 hero__title"><i class="bi bi-tropical-storm"></i>pyduck</span>
            <div class="pt-3">
                <span class="fs-3 hero__subtitle">community for pythonista in Korea</span>
            </div>
        </div>
    </section>
</div>
{% endblock main%}