{% set sidebar_community = [
{
"code": "all",
"emoji": "💬",
"name": "글들 다보기",
"description": "모든 카테고리를 보실 수 있습니다 :)"
},
{
"code": "help",
"emoji": "🙏",
"name": "묻고 답하기",
"description": "Python 관련 Q&A로 Pythonista 분들의 도움이 필요합니다!"
},
{
"code": "life",
"emoji": "☕",
"name": "사는 이야기",
"description": "개발자로서 혹은 그냥 사람으로 사는 이야기를 나누는 공간입니다."
},
{"code": "knowledge",
"emoji": "⛏️",
"name": "삽질 나누기",
"description": "파이썬 관련 지식 혹은 프로그래밍 관련 지식을 공유하는 공간입니다."
}
]%}

{% set sidebar_learning = [
{
"code": "dsna",
"emoji": "🧮",
"name": "자료구조/알고리즘",
"description": "모든 카테고리를 보실 수 있습니다 :)"
}
]%}