{% macro render_post_list_item(post) %}
<div class="row py-3 border-bottom">
    <div class="col d-flex flex-column flex-md-row justify-content-between">
        <div class="d-flex align-items-center">
            <div
                 class="d-none d-md-flex bg-body-secondary rounded-1 justify-content-center align-items-center"
                 style="width: 48px; height: 48px;">
                <span class="fs-5">{{ c.emoji }}</span>
            </div>
            <div class="ps-1 ps-lg-3">
                <div class="fw-bold fs-5">
                    <a
                       class="link link-body-emphasis"
                       href="{{ url_for('pyduck.community.post', post_id=post.id) }}">
                        {{ post.title }}
                    </a>
                </div>
                <div>
                    <small> {{ post.user.nickname }}님이
                        <pd-relative-time datetime="{{ post.created_at }}"></pd-relative-time> {{ c.name }} 관련 작성
                    </small>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center gap-2
                    justify-content-end pt-1
                    justify-content-md-start pt-md-0">
            <div
                 class="d-flex d-md-none bg-body-secondary rounded-1 justify-content-center align-items-center"
                 style="width: 35px; height: 35px;">
                <span>{{ c.emoji }}</span>
            </div>
            <div class="pe-3">
                <img
                     src="{{ post.user.avatar.url }}"
                     width="30px"
                     height="30px"
                     class="rounded-circle">
            </div>
            <div class="d-flex align-items-center">
                <i class="bi bi-arrow-up"></i>
                <span class="ps-1 pe-2">{{ post.vote_count }}</span>
            </div>
            <div class="d-flex align-items-center">
                <i class="bi bi-chat"></i>
                <span class="ps-1 pe-2">{{ post.comment_count }}</span>
            </div>
        </div>
    </div>
</div>
{% endmacro %}