{% from "pyduck/data/sidebar.html.jinja" import sidebar_community as category %}
{% from "community/data/reaction.html.jinja" import reaction_master %}
{% for item in pagination %}
{% include "user/activity/reactions/list_item.html.jinja" %}
{% if loop.last and pagination.has_next %}
<!-- [START] infinite scroll trigger -->
<div
     hx-get="{{ 
                url_for(
                    'pyduck.user.my_activity_about_reaction', 
                    page=pagination.next_num,
                    **commons.dict(exclude={'page': True})
                )
            }}"
     hx-trigger="revealed"
     hx-swap="afterend">
</div>
<!-- infinite scroll trigger [END] -->
{% endif %}
{% endfor %}