{% extends "index.html.jinja" %}

{% block css %}
<!-- highlight: code syntax highlight -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
{% endblock css %}


{% block main %}
<div class="container mt-3 pt-5">
    <div>
        <span class="display-5 pyduck-title__duckwave_pg">Computer Networking</span>
    </div>
    <div class="pt-3">
        <div>High Performance Browser Networking(HPBN)</div>
    </div>
</div>
{% endblock main %}


{% block javascript %}

{% endblock javascript %}