<section class="col col-lg-6 justify-content-center mx-auto text-center" hx-target="this">
    <h1 class="fs-3 fw-bold">
        <span class="display-4 fw-bold"><i class="bi bi-envelope-paper-heart"></i></span>
        <br>인증 메일 전송 완료
    </h1>
    <div class="pyduck-para pt-3 text-secondary">
        {{ user.username }}으로 인증 메일을 전송 하였습니다.
        메일 내의 인증 링크를 클릭하시면 회원가입이 완료됩니다.
    </div>
</section>