{% from "community/answer_comment/render_reaction.html.jinja" import render_reaction with context %}
{% macro render_answer_comment(comment) %}
<div
     x-data="{
        editmode: false,
    }"
     data-pd-answer="{{ comment.id }}"
     class="d-flex px-3">
    <div class="vr me-2"></div>
    <div x-show="!editmode" class="flex-grow-1 py-3">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <img class="rounded-circle" src="{{ comment.user.avatar.url }}" width="33" height="33">
                <span>{{ comment.user.nickname }}</span>
            </div>
            <div class="d-flex gap-2">
                {% if comment.history|length %}
                <div class="dropdown">
                    <button class="btn btn-outline-secondary border-0 dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <small>수정이력</small>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end px-3">
                        <div>{{ comment.history|length}}번 수정됨</div>
                    </div>
                </div>
                {% endif %}
                <div class="dropdown">
                    <button class="btn btn-outline-secondary border-0 dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <button class="dropdown-item"
                                    type="button"
                                    @click="editmode=true; 
                                            $nextTick(() => { 
                                                $dispatch(
                                                    'require-editor', { target: 'comment', id: '{{ comment.id }}' }
                                                ) 
                                            })">
                                수정하기
                            </button>
                        </li>
                        <li><a class="dropdown-item" href="#">삭제하기</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pt-4">
            {{ comment.content }}
        </div>
        <div class="pt-2 d-flex justify-content-between">
            {{ render_reaction(comment=comment) }}
        </div>
    </div>
    <template x-if="editmode">
        <form
              class="answer w-100"
              hx-put="{{ url_for('pyduck.community.comment_to_answer') }}"
              hx-swap="outerHTML"
              hx-target="[data-pd-answer='{{ comment.id }}']">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="comment_id" value="{{ comment.id }}">
            <textarea name="content" data-pd-comment-editor="{{ comment.id }}">
                        {{ comment.content }}
                    </textarea>
            <div class="pt-2 text-end">
                <button
                        class="btn btn-secondary rounded-0"
                        type="button"
                        @click="editmode=false">
                    취소하기
                </button>
                <button class="btn btn-primary rounded-0">
                    수정하기
                </button>
            </div>
        </form>
    </template>
</div>
{% endmacro %}