<form class="pt-5"
      hx-put="{{ url_for('pyduck.auth.my_password') }}"
      hx-swap="none"
      hx-target="this"
      x-cloak
      x-data="{
        oldpassword: '',
        newpassword: '',
        newpassword1: '',
        showPasswordDontMatch: false,
        get isValidLength() {
            return 8 <= this.newpassword.length && this.newpassword.length <= 30
        },
        get isValidAlphabet() {
            return /[a-z]/.test(this.newpassword) && /[A-Z]/.test(this.newpassword)
        },
        get isNumberIncluded() {
            return /\d/.test(this.newpassword)
        },
        get isSpecialIncluded() {
            return /[!@#$%^&*()_=\-+]/.test(this.newpassword)
        },
        get showNewPasswordDontMatch() {
            return (this.newpassword.length > 0) && (this.newpassword1.length > 0) && (this.newpassword !== this.newpassword1)
        },
        resetInput() {
            this.oldpassword = ''
            this.newpassword = ''
            this.newpassword1 = ''
        }
      }"
      @password-dont-match="showPasswordDontMatch=true">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="p-3 border rounded-2">
        <h1 class="fs-5 fw-bold">
            비밀번호 변경하기
        </h1>
        <hr>
        <div class="pt-1">
            <div>
                <label for="oldpassword" class="form-label">현재 비밀번호</label>
                <input
                       x-model="oldpassword"
                       type="password"
                       class="form-control"
                       id="oldpassword"
                       name="oldpassword"
                       required>
                <template x-if="showPasswordDontMatch">
                    <div class="pt-1 ps-2 text-danger">
                        <i class="bi bi-x-circle"></i><span class="ps-1">비밀번호가 일치하지 않습니다.</span>
                    </div>
                </template>
            </div>
            <div class="pt-3">
                <label for="newpassword" class="form-label">
                    새 비밀번호
                </label>
                <input
                       x-model="newpassword"
                       type="password"
                       class="form-control"
                       id="newpassword"
                       name="newpassword"
                       minlength="8"
                       maxlength="30"
                       required>
            </div>
            <div class="pt-3">
                <label for="newpassword1" class="form-label">
                    새 비밀번호 확인
                </label>
                <input
                       x-model="newpassword1"
                       type="password"
                       class="form-control"
                       id="newpassword1"
                       required>
                <template x-if="showNewPasswordDontMatch">
                    <div class="pt-1 ps-2 text-danger">
                        <i class="bi bi-x-circle"></i><span class="ps-1">새 비밀번호가 일치하지 않습니다.</span>
                    </div>
                </template>
            </div>
        </div>
        <div class="pt-3">
            비밀번호는 보안상의 이유로 충분히 복잡해야합니다.
            <br>그러므로 새 비밀번호는 아래 조건을 만족해야합니다.
            <div class="pt-2 row row-cols-4">
                <div
                     class="border rounded-2 p-2 text-center"
                     :class="isValidLength && 'border-success text-success'">
                    <div>
                        <i :class="isValidLength ? 'bi bi-check-circle' : 'bi bi-x-square'"></i>
                    </div>
                    <div>
                        글자 8-30자
                    </div>
                </div>
                <div
                     class="border rounded-2 p-2 text-center"
                     :class="isNumberIncluded && 'border-success text-success'">
                    <div>
                        <i :class="isNumberIncluded ? 'bi bi-check-circle' : 'bi bi-x-square'"></i>
                    </div>
                    <div>
                        숫자 포함
                    </div>
                </div>
                <div
                     class="border rounded-2 p-2 text-center"
                     :class="isValidAlphabet && 'border-success text-success'">
                    <div>
                        <i :class="isValidAlphabet ? 'bi bi-check-circle' : 'bi bi-x-square'"></i>
                    </div>
                    <div>
                        대소문자 포함
                    </div>
                </div>
                <div
                     class="border rounded-2 p-2 text-center"
                     :class="isSpecialIncluded && 'border-success text-success'">
                    <div>
                        <i :class="isSpecialIncluded ? 'bi bi-check-circle' : 'bi bi-x-square'"></i>
                    </div>
                    <div>
                        특수문자 포함
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-4 text-end">
            <button
                    class="btn btn-primary rounded-0"
                    :disabled="!isValidLength || !isNumberIncluded || !isValidAlphabet || !isSpecialIncluded || showNewPasswordDontMatch">
                비밀번호 변경하기
            </button>
        </div>
    </div>
</form>