<header class="px-1 px-lg-3 py-2 bg-body-tertiary">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <div class="d-flex align-items-center gap-1">
                <div class="d-block d-lg-none">
                    <button class="btn btn-sm btn-outline-secondary border-0 rounded-circle"
                            type="button"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasScrolling"
                            aria-controls="offcanvasScrolling">
                        <span class="fs-3"><i class="bi bi-list"></i></span>
                    </button>
                </div>
                <div class="fs-4 fw-bold">
                    <a href="/"
                       class="d-flex align-items-center mb-lg-0 link-body-emphasis text-decoration-none">
                        <span class="logo-color"><i class="bi bi-tropical-storm"></i>pyduck</span>
                    </a>
                </div>
            </div>
            {% if current_user.is_authenticated %}
            <div class="d-flex align-items-center gap-2">
                <div
                     hx-trigger="load"
                     hx-get="{{ url_for('pyduck.notification.bell') }}"
                     hx-target="this"
                     hx-swap="outerHTML">
                    <button class="btn btn-outline-secondary border-0 rounded-circle dropdown-toggle no-caret"
                            style="padding-inline:10px;"
                            type="button">
                        <span class="fs-5 position-relative">
                            <i class="bi bi-bell"></i>
                        </span>
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-outline-secondary border-0 rounded-circle dropdown-toggle no-caret p-1"
                            type="button"
                            data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false"
                            data-bs-offset="0,5">
                        <img class="rounded-circle" src="{{ current_user.avatar.url }}"
                             width="34" height="34">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-start dropdown-menu-lg-end pt-0"
                        style="width:var(--size-14)">
                        <li
                            class="rounded-top-2 pt-4 pb-2 px-2 border-bottom"
                            style="background-image:url('{{ current_user.backdrop.url }}')">
                            <div class="d-flex align-items-center">
                                <div>
                                    <img class="rounded-circle"
                                         src="{{ current_user.avatar.url }}" width="50"
                                         height="50">
                                </div>
                                <div class="ps-3"
                                     style="filter:invert() contrast(999) grayscale();">
                                    <div class="fw-bold">{{current_user.nickname}} </div>
                                    <div><small>{{ current_user.username }}</small></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider mt-0">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center"
                               href="{{ url_for('pyduck.auth.profile_setting') }}">
                                <div class="ps-3 fs-4 fw-bold">
                                    <i class="bi bi-person-vcard"></i>
                                </div>
                                <div class="ps-4">
                                    <span>내 프로필 관리</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center"
                               href="{{ url_for('pyduck.notification.index') }}">
                                <div class="ps-3 fs-4 fw-bold">
                                    <i class="bi bi-bell"></i>
                                </div>
                                <div class="ps-4">
                                    <span>내 알림 내역</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center"
                               href="{{ url_for('pyduck.user.my_activity') }}">
                                <div class="ps-3 fs-4 fw-bold">
                                    <i class="bi bi-database-fill-up"></i>
                                </div>
                                <div class="ps-4">
                                    <span>내 활동 내역</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center"
                               href="{{ url_for('pyduck.auth.sign_out') }}">
                                <div class="ps-3 fs-4 fw-bold">
                                    <i class="bi bi-box-arrow-right"></i>
                                </div>
                                <div class="ps-4">
                                    <span>로그아웃</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% else %}
            <div class="d-flex align-items-center gap-1">
                <button
                        class="btn btn-outline-secondary rounded-0"
                        data-bs-toggle="modal"
                        data-bs-target="#modal"
                        x-data
                        @click="$dispatch('modalsignup')">회원가입</button>
                <button
                        class="btn btn-outline-dark rounded-0 btn__signin"
                        data-bs-toggle="modal"
                        data-bs-target="#modal"
                        x-data
                        @click="$dispatch('modalsignin')">로그인</button>
            </div>
            {% endif %}
        </div>
        <!-- [START] offcanvas sidebar -->
        <div class="offcanvas offcanvas-start bg-body-tertiary" data-bs-scroll="true" tabindex="-1"
             id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" style="--bs-offcanvas-width: 280px;">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title fs-4 fw-bold" id="offcanvasScrollingLabel">
                    <a href="/"
                       class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                        <span class="logo-color"><i class="bi bi-tropical-storm"></i>pyduck</span>
                    </a>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            {% include "pyduck/sidebar/sidebar.html.jinja" %}
        </div>
        <!-- offcanvas sidebar [END] -->
    </div>
</header>