{% set reaction_master = [
{
"code": "thumbs_up",
"emoji": "👍",
"name": "굿이요",
"description": "",
},
{
"code": "thumbs_down",
"emoji": "👎",
"name": "댐이요",
"description": "",
},
{
"code": "heart",
"emoji": "❤️",
"name": "좋아요",
"description": "",
},
{
"code": "tada",
"emoji": "🎉",
"name": "축하요",
"description": "",
},
{
"code": "smile",
"emoji": "😄",
"name": "헤헤요",
"description": "",
},
{
"code": "sweat",
"emoji": "😅",
"name": "당황요",
"description": "",
},
{
"code": "eyes",
"emoji": "👀",
"name": "궁금요",
"description": "",
},
] %}