<div class="btn-group"
     hx-ext="sse"
     sse-connect="{{ url_for('pyduck.sse.stream_to_user', user_id=current_user.id) }}"
     x-data="{
            read: false
    }"
     @notification.window="console.log('choco in the building')"
     hx-get="{{ url_for('pyduck.notification.bell')}}">
    <button
            class="btn btn-outline-secondary border-0 rounded-circle dropdown-toggle no-caret"
            style="padding-inline:10px;"
            type="button"
            data-bs-toggle="dropdown"
            data-bs-auto-close="true"
            aria-expanded="false"
            data-bs-offset="0,5">
        <span class="fs-5 position-relative">
            <i class="bi bi-bell"></i>
            <template x-if="!read">
                <span
                      class="position-absolute translate-middle badge border border-light rounded-circle bg-danger"
                      style="padding:5px; top:3px; left:18px;">
                    <span class="visually-hidden">unread notifications</span>
                </span>
            </template>
        </span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end pt-0" data-notification-container>
        <li></li>
    </ul>
</div>