<h1>Welcome to Rodi's home</h1>


<p>
    저는 기본기가 중요하다는 뻔한 말을 믿습니다.
    <a href="{{ url_for('csduck.index') }}">CS 공부기록</a>
</p>
<p>
    저마다 끌리는 기술이 있어야한다고 합니다.
    <a href="{{ url_for('pyduck.index') }}">저는 파이썬입니다.</a>
</p>
<p>
    전혀 상관 없는 경험도 도움이 될 수 있다고 합니다.
    <a href="{{ url_for('faduck.index') }}">금융 분석.</a>
</p>