{% extends "pyduck/base.html.jinja" %}


{% block main %}
<div class="container">
    <section class="py-5">
        <div class="text-center">
            <span class="display-4 hero__title">Goodbye, good luck.</span>
            <div class="pt-3">
                <span class="fs-3 hero__subtitle">Thank you.</span>
            </div>
            <div class="pt-3">
                회원 탈퇴 되셨습니다.
                <br>그 동안 부족했던 pyduck 서비스를 이용해주셔서 감사합니다.
                <br>개발자 로디(rodi) 드림.
            </div>
        </div>
    </section>
</div>
{% endblock main %}