{% extends "pyduck/base.html.jinja" %}


{% block main %}
<div class="container">
    <div class="row pt-5">
        <div class="col-12 text-center">
            <div class="display-4">
                <i class="bi bi-person-vcard"></i>
            </div>
            <div>
                <h1 class="fs-2 fw-bold">내 프로필 관리</h1>
                <p class="pt-3 text-secondary">
                    아바타 및 배경 사진, 자기소개 등
                    <br>프로필을 다양하게 꾸며보세요 :)
                </p>
            </div>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-12">
            <div class="text-end">
                <button class="btn btn-primary rounded-0">프로필 저장하기</button>
            </div>
        </div>
        <div class="
                col-12 order-2
                col-lg-6 order-lg-1">
            <div class="pt-5">
                <div class="fs-5 fw-bold">
                    내 프로필 배경 사진
                </div>
                <div class="pt-1">
                    <div>
                        <img class="rounded-2" src="{{ current_user.backdrop.url }}" width="75%" height="150px">
                    </div>
                    <div class="pt-2">
                        <button class="btn btn-outline-success rounded-0">사진 바꾸기</button>
                        <button class="btn btn-outline-danger rounded-0">사진 지우기</button>
                    </div>
                </div>
            </div>
            <div class="pt-5">
                <div class="fs-5 fw-bold">
                    내 프로필 아바타 사진
                </div>
                <div class="pt-1 d-flex gap-1 align-items-center">
                    <div>
                        <img class="rounded-circle" src="{{ current_user.avatar.url }}" width="120px" height="120px">
                    </div>
                    <div>
                        <button class="btn btn-outline-success rounded-0">사진 바꾸기</button>
                        <button class="btn btn-outline-danger rounded-0">사진 지우기</button>
                    </div>
                </div>
            </div>
            <form class="pt-5"
                  hx-post="{{ url_for('pyduck.auth.about_me')}}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="about-me border p-3 rounded-2"
                     x-data="{
                        editor: '',
                        counter: '',
                        characters: '',
                        init() {
                            ClassicEditor
                            .create(
                                document.querySelector('#about-me-editor'), {
                                    toolbar: []
                                }
                            )
                            .then((editor) => {
                                this.editor = editor;
                                this.counter = editor.plugins.get('WordCount');
                                this.characters = this.counter.characters;
                                editor.model.document.on('change:data', () => {
                                    let aboutMe = editor.getData()
                                    $dispatch(
                                        'about-me-change', { content: aboutMe }
                                    )
                                })
                            })
                        }
                }" @about-me-change="characters=counter.characters">
                    <div class="fs-5 fw-bold">
                        자기 소개
                    </div>
                    <hr>
                    <div class="text-secondary pt-1">
                        <small class="text-secondary">
                            자신을 간단히 소개해보세요!
                            굵게(Ctrl + B), 기울게(Ctrl + I) 적용 가능 및 링크를 삽입할 수 있습니다.
                        </small>
                    </div>
                    <div class="pt-2 px-1">
                        <textarea id="about-me-editor" name="about_me">
                        {% if current_user.about_me is not none %}
                        {{ current_user.about_me }}
                        {% endif %}
                        </textarea>
                        <div class="text-end">
                            글자수 제한:
                            <span
                                  :class="characters > 150 ? 'fw-bold text-danger' : 
                                          characters > 120 ? 'fw-bold text-warning'  : 
                                          ''"
                                  x-text="characters">
                            </span>
                            <span>/ 150</span>
                        </div>
                    </div>
                    <div class="pt-3 text-end">
                        <button
                                class="btn btn-primary rounded-0"
                                :class="characters === 0 ? 'disabled' :
                                        characters > 150 ? 'disabled' : ''">
                            자기 소개 저장하기
                        </button>
                    </div>
                </div>
            </form>
            <div class="pt-5">
                <div class="fs-5 fw-bold">
                    내 SNS
                </div>
                <div class="d-flex align-items-center gap-1 pt-2">
                    <div class="flex-grow-1">
                        <div class="input-group">
                            <span class="input-group-text" id="sns-twitter">
                                <i class="bi bi-twitter"></i>
                            </span>
                            <input type="text" name="sns_twitter" class="form-control" placeholder="Twitter 계정 링크"
                                   aria-label="My Twitter account"
                                   aria-describedby="sns-twitter">
                        </div>
                    </div>
                    <div>
                        <select
                                class="form-select"
                                aria-label="Select twitter public or not"
                                name="sns_twitter_public"
                                required>
                            <option>공개여부</option>
                            <option value="true" selected>공개</option>
                            <option value="false">비공개</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-1 pt-2">
                    <div class="flex-grow-1">
                        <div class="input-group">
                            <span class="input-group-text" id="sns-github">
                                <i class="bi bi-github"></i>
                            </span>
                            <input type="text" name="sns_github" class="form-control" placeholder="GitHub 계정 링크"
                                   aria-label="My Github account"
                                   aria-describedby="sns-github">
                        </div>
                    </div>
                    <div>
                        <select
                                class="form-select"
                                aria-label="Select github public or not"
                                name="sns_github_public"
                                required>
                            <option>공개여부</option>
                            <option value="true" selected>공개</option>
                            <option value="false">비공개</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-1 pt-2">
                    <div class="flex-grow-1">
                        <div class="input-group">
                            <span class="input-group-text" id="sns-other1">
                                <i class="bi bi-link-45deg"></i>
                            </span>
                            <input type="text" name="sns_other1" class="form-control" placeholder="타 SNS 계정 링크"
                                   aria-label="My other SNS account1"
                                   aria-describedby="sns-other1">
                        </div>
                    </div>
                    <div>
                        <select
                                class="form-select"
                                aria-label="Select other sns account1 public or not"
                                name="sns_other1_public"
                                required>
                            <option>공개여부</option>
                            <option value="true" selected>공개</option>
                            <option value="false">비공개</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-1 pt-2">
                    <div class="flex-grow-1">
                        <div class="input-group">
                            <span class="input-group-text" id="sns-other2">
                                <i class="bi bi-link-45deg"></i>
                            </span>
                            <input type="text" name="sns_other2" class="form-control" placeholder="타 SNS 계정 링크"
                                   aria-label="My other SNS account2"
                                   aria-describedby="sns-other2">
                        </div>
                    </div>
                    <div>
                        <select
                                class="form-select"
                                aria-label="Select other sns account2 public or not"
                                name="sns_other2_public"
                                required>
                            <option>공개여부</option>
                            <option value="true" selected>공개</option>
                            <option value="false">비공개</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="
                col-12 order-1
                col-lg-6  order-lg-2">
            <section
                     class="pt-5"
                     x-data="{
                        aboutMe: '{{ current_user.about_me if current_user.about_me is not none else '' }}'
                    }"
                     @about-me-change.document="aboutMe=$event.detail.content">
                <h1 class="fs-5 fw-bold">
                    내 프로필 미리보기
                </h1>
                <div class="pt-1">
                    <small class="text-secondary">
                        다른 유저가 내 아바타에 마우스를 올리거나(hover),
                        <br>클릭했을 때 나오는 프로필입니다.
                    </small>
                </div>
                <div class="pt-2">
                    <div class="shadow p-1 rounded-2" style="max-width: 360px;">
                        <div class="position-relative">
                            <div>
                                <img src="{{ current_user.backdrop.url }}"
                                     class="rounded-top-3"
                                     style="width: 100%; max-width: 360px; max-height: 120px;">
                            </div>
                            <div class="position-absolute"
                                 style="top:60%; left:20px;">
                                <img src="{{ current_user.avatar.url }}"
                                     class="rounded-circle border border-4"
                                     width="88px" height="88px">
                            </div>
                        </div>
                        <div class="mt-5 p-2 border border-2 rounded-2">
                            <div class="py-2 d-flex justify-content-between">
                                <span class="fs-5 fw-bold">@{{ current_user.nickname }}</span>
                                <div class="d-flex align-items-center gap-2">
                                    <i class="bi bi-twitter"></i>
                                    <i class="bi bi-github"></i>
                                </div>
                            </div>
                            <div class="border-top pt-3" x-html="aboutMe"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock main %}


{% block javascript %}
{{ super() }}
<script>

</script>
{% endblock javascript %}