{% extends "pyduck/base.html.jinja" %}


{% block main %}
<div class="container">
    <section class="py-5">
        <div class="text-center">
            <span class="display-4 hero__title">pyduck member again</span>
            <div class="pt-3">
                <span class="fs-3 hero__subtitle">Thank you.</span>
            </div>
            <div class="pt-3">
                비밀번호 초기화가 완료 되었습니다.
                <br>로그인 해서 다양한 서비스를 이용해보세요 ^^
            </div>
        </div>
    </section>
</div>
{% endblock main %}